.constructor {
    &__container {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 5rem;
        padding: 0rem 20rem;
    }

    &__title {
        text-transform: uppercase;
        font-weight: 800;
        font-size: 3rem;
        text-align: center;
    }

    &__list {
        display: flex;
        gap: 0.75rem;
    }

    &__card {
        width: calc(100% / 5 - 0.785rem);
        height: 10rem;
        display: flex;
        align-items: flex-start;
        padding: 1rem;

        input {
            margin-top: 0.125rem;
        }

        &-ball {
            background: url('/assets/images/ball-option.png') top;
            background-position: right -6.5rem bottom -5rem;
            background-repeat: no-repeat;
            background-size: 20rem;
        }

        &-ball_prod {
            background: url('/one30/assets/images/ball-option.png') top;
            background-position: right -6.5rem bottom -5rem;
            background-repeat: no-repeat;
            background-size: 20rem;
        }

        &-stripe {
            background: url('/assets/images/stripe-option.png') top;
            background-position: right bottom -2rem;
            background-repeat: no-repeat;
            background-size: 10rem;
        }

        &-stripe_prod {
            background: url('/one30/assets/images/stripe-option.png') top;
            background-position: right bottom -2rem;
            background-repeat: no-repeat;
            background-size: 10rem;
        }

        &-none {
            background: url('/assets/images/none-option.png') top;
            background-position: right -2.5rem bottom;
            background-repeat: no-repeat;
            background-size: 20rem;
        }

        &-none_prod {
            background: url('/one30/assets/images/none-option.png') top;
            background-position: right -2.5rem bottom;
            background-repeat: no-repeat;
            background-size: 20rem;
        }

        &-mace {
            background: url('/assets/images/mace-option.png') top;
            background-position: right 0rem bottom -2.5rem;
            background-repeat: no-repeat;
            background-size: 15rem;
        }

        &-mace _prod {
            background: url('/one30/assets/images/mace-option.png') top;
            background-position: right 0rem bottom -2.5rem;
            background-repeat: no-repeat;
            background-size: 15rem;
        }

        &-hoop {
            background: url('/assets/images/hoop-option.png') top;
            background-position: right -6.5rem bottom -5rem;
            background-repeat: no-repeat;
            background-size: 20rem;
        }

        &-hoop_prod {
            background: url('/one30/assets/images/hoop-option.png') top;
            background-position: right -6.5rem bottom -5rem;
            background-repeat: no-repeat;
            background-size: 20rem;
        }
    }

    &__option {
        width: calc(100% / 4 - 0.5rem);
    }
}

.scale {
    @media (hover: hover) and (pointer: fine) {
        &:hover {
            transform: scale(1.01);
        }
    }

    &:active {
        transform: scale(0.99);
    }
}

.price {
    font-weight: 700;
    color: #333;
}