<div class="w-100 footer">
  <div class="footer__requisites">
    <div>Индивидуальный Предприниматель {{ employer }}</div>
    <div>ИНН: {{ inn1 }}</div>
    <div>ОГРНИП: {{ inn2 }}</div>
    <div>{{ city }}</div>
  </div>
  <div class="footer__documents">
    <a iconStart="@tui.file-text" appearance="action-grayscale" tuiLink [href]="'/'"
      >Политика конфиденциальности</a
    >
    <a iconStart="@tui.file-text" appearance="action-grayscale" tuiLink [href]="'/'"
      >Договор оферты</a
    >
  </div>
</div>
