:host {
  min-height: var(--footer_height);
  display: flex;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem;
  width: calc(100vw - 4rem);
  min-height: var(--footer_height);
  background: color-mix(in srgb, var(--tui-background-base), transparent 50%);
  border: none;
  border-top-right-radius: 2rem;
  box-shadow: -1px 1px 20px 5px rgb(0 0 0 / 20%);

  &__time-period {
    color: var(--tui-text-02);
  }

  &__requisites {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  &__documents{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 0.25rem;
  }
}

.text {
  color: var(--tui-text-secondary);
}
