.scale {
    @media (hover: hover) and (pointer: fine) {
        &:hover {
            transform: scale(1.01);
        }
    }
 
    &:active {
        transform: scale(0.99);
    }
}

.reviews {
    &__container {
        width: 100%;
    }
}